:root {
    --primary-color:rgb(163, 60, 240);
    --secundary-color:#271839;
    --text-light:#fff;
    --highlightcolor:#e15bc8;
    --primary-gradient:linear-gradient(90deg, #ff4cc7, #7c2cff);
    --gradient:linear-gradient(90deg, #ff4ec7, #8c55ff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background: var(--secundary-color);
    background-image: radial-gradient(circle at top left, #3e195c, transparent 60%), radial-gradient(circle at bottom right, #1a0730, transparent 60%);
    color: var(--text-light);
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/*Seção do cabeçalho*/
#mainHeader.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--secundary-color);
    width: 100%;
    z-index: 9999;
}

#mainHeader{transition: all 0.3s ease;}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem !important;
}

.commonBtn {
    background: var(--gradient);
    border: none;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
}

.commonBtn:hover{
    transform: translateX(-3px);
    opacity: 0.9;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

nav{
    display: flex;
    gap: 2.5rem;
    background: #39264a;
    padding: 10px 22px;
    border-radius: 22px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover{
    color: var(--primary-color);
}

.hamburger {
    display: inline; /* depois devo colocar como o display none por que é como esta no codigo orinal */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger span{
    height: 3px;
    width: 25px;
    background: white;
}
.hero{
    background: url('imagens/the-humble-co-cADflhZzgyo-unsplash.png');
    background-size: 100%;
    position: relative;
    /* background-attachment: fixed; */
    background-position: center;
}
.hero .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.left{flex: 1 1 45%;}
.left h2{
    color: var(--highlightcolor);
    font-weight: 300;
}
.left h1{
    font-size: 5rem;
    margin: 0.5rem 0;
}
.left p{
    margin: 1rem 0;
    font-family: system-ui;
    font-size: 1.1rem;
    margin-top: 20px;
}
 .right{
    flex: 1 1 45%;
    text-align: center;
} 
.right img{
    width: 70%;
    border-radius: 1rem;
}
.tagline{
    color: white;
    font-size: 1rem;
    font-family: monospace;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.tagline em{font-size: 1.3rem;}
.social{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social a{
    color: rgba(154, 28, 182, 0.633);
    font-size: 1.2rem;
    text-decoration: none;
}
.social a:hover{
    color: var(--primary-color);
}

/* Seção Sobre */

.about{
    height: 500px;
    padding: 4rem 0rem;
    background-image: url(imagens/1_comMascara.png);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}
.about .container{

    display: flex;
    flex-direction: row;
    max-width: 1200px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-left{
    flex: 1;
    min-width: 300px;
    position: relative; 
}
.about-left img{
    width: 500px;
    border-radius: 8px;
}
.about-right{
    flex: 1;
    min-width: 300px;
}
.about-right h4{
    color: var(--highlightcolor);
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.about-right p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Join section */
.joinSection .container{
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.joinSection{
    padding: 100px 20px;
    background-image: url(imagens/4_comMascara.png);
    background-size: 100%;
}
.joinSection h2{
    font-size: 36px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    transition: background 0.3s ease;
}
.card{
    background: rgba(255, 255, 255, 0.02);
    border-radius: 20px;
    padding: 30px;
    flex: 1 1 300px;
    max-width: 380px;
    text-align: left;
    transition: background 0.5s ease;
}
.card:hover{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.08);
}
.icon{
    width: 50px;
    height: 50px;
    border-radius:50%;
    background: var(--gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: white;
}
/* teste de animação */
.hero2 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cac3c389;
    overflow: hidden;
}

.mouse-anim {
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #00f2ff, #7a00ff);
    border-radius: 50%;
}
.mouse-anim.animate {
    animation: moveAround 4s infinite;
}
