:root {
    --primary-color:#a33cf0;
    --secundary-color:#271839;
    --text-light:#fff;
    --highlightcolor:#e15bc8;
    --primary-gradient:linear-gradient(90deg, #ff4cc7, #7c2cff);
    --gradient:linear-gradient(90deg, #ff4ec7, #8c55ff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background: var(--secundary-color);
    background-image: radial-gradient(circle at top left, #3e195c, transparent 60%), radial-gradient(circle at bottom right, #1a0730, transparent 60%);
    color: var(--text-light);
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/*Seção do cabeçalho*/
#mainHeader.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--secundary-color);
    width: 100%;
    z-index: 9999;
}

#mainHeader{transition: all 0.3s ease;}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem !important;
}

.commonBtn {
    background: var(--gradient);
    border: none;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
}

.commonBtn:hover{
    transform: translateX(-3px);
    opacity: 0.9;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

nav{
    display: flex;
    gap: 2.5rem;
    background: #39264a;
    padding: 10px 22px;
    border-radius: 22px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover{
    color: var(--primary-color);
}

.hamburger {
    display: inline; /* depois devo colocar como o display none por que é como esta no codigo orinal */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger span{
    height: 3px;
    width: 25px;
    background: white;
}
.hero{
    background: url('imagens/the-humble-co-cADflhZzgyo-unsplash.jpg');
    background-size: 100%;
}
.hero .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.left{flex: 1 1 45%;}
.left h2{
    color: var(--highlightcolor);
    font-weight: 300;
}
.left h1{
    font-weight: 5rem;
    margin: 0.5rem 0;
}
.left p{
    margin: 1rem 0;
    font-family: system-ui;
    font-size: 1.1rem;
    margin-top: 20px;
}
 .right{
    flex: 1 1 45%;
    text-align: center;
} 
.right img{
    width: 70%;
    border-radius: 1rem;
}
.tagline{
    color: white;
    font-size: 1rem;
    font-family: fantasy;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.tagline em{font-size: 1.3rem;}
.social{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
.social a:hover{
    color: var(--primary-color);
}